<script>
  MathJax = {
    loader: {load: ['[tex]/color']},
    tex: {
      inlineMath: [              /* start/end delimiter pairs for in-line math */
        ['$','$'],
        ['\\(','\\)']
      ],
      displayMath: [             /* start/end delimiter pairs for display math */
        ['$$', '$$'],
        ['\\[', '\\]']
      ],
      packages: {'[+]':['color']}
    },
  };
</script>

<!-- 왼쪽 정렬 -->
<script>
  MathJax = {
      chtml: { displayAlign: 'left' }
  };
</script>


<script type="text/javascript" src="{{ '/assets/js/mathjax/tex-mml-chtml.js' | relative_url }}"></script>
